doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='viho admin is super flexible, powerful, clean & modern responsive bootstrap 4 admin template with unlimited possibilities.')
    meta(name='keywords', content='admin template, viho admin template, dashboard template, flat admin template, responsive admin template, web app')
    meta(name='author', content='pixelstrap')
    link(rel='icon', href='../assets/images/favicon.png', type='image/x-icon')
    link(rel='shortcut icon', href='../assets/images/favicon.png', type='image/x-icon')
    title viho - Premium Admin Template
    link(href='https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')
    style.
      body{
      width: 650px;
      font-family: work-Sans, sans-serif;
      background-color: #f6f7fb;
      display: block;
      }
      a{
      text-decoration: none;
      }
      span {
      font-size: 14px;
      }
      p {
          font-size: 13px;
         line-height: 1.7;
         letter-spacing: 0.7px;
         margin-top: 0;
      }
      .text-center{
      text-align: center
      }
      h6 {
      font-size: 16px;
      margin: 0 0 18px 0;
      }
  body(style='margin: 30px auto;')
    table(style='width: 100%')
      tbody
        tr
          td
            table(style='background-color: #f6f7fb; width: 100%')
              tbody
                tr
                  td
                    table(style='width: 650px; margin: 0 auto; margin-bottom: 30px')
                      tbody
                        tr
                          td
                            a(href="index.html")
                              img.img-fluid(src='../assets/images/logo/logo.png', alt='')
                          td(style='text-align: right; color:#999')
                            span Some Description
            table(style='width: 650px; margin: 0 auto; background-color: #fff; border-radius: 8px')
              tbody
                tr
                  td(style='padding: 30px') 
                    h6(style='font-weight: 600') Password Reset
                    p you forgot your password for viho Admin. If this is true, click below to reset your password.
                    p(style='text-align: center')
                      a(href='javascript:void(0)' style='padding: 10px; background-color: #54291b; color: #fff; display: inline-block; border-radius: 4px;font-weight:600;') Reset Password
                    p If you have remember your password you can safely ignore his email.
                    p Good luck! Hope it works.
                    p(style='margin-bottom: 0') Regards,<br>
                      | Webiots Software
            table(style='width: 650px; margin: 0 auto; margin-top: 30px')
              tbody        
                tr(style='text-align: center')
                  td 
                    p(style='color: #999; margin-bottom: 0') 333 Woodland Rd. Baldwinsville, NY 13027
                    p(style='color: #999; margin-bottom: 0') Don't Like These Emails?
                      a(href='javascript:void(0)', style='color: #54291b') Unsubscribe
                    p(style='color: #999; margin-bottom: 0') Powered By viho Admin
